// .tab-list_item{
//     max-width: 120px;
// }
.ant-tag{
    position: relative;
    height: 30px;
    line-height: 30px;
    max-width: 120px;
    min-width: 120px;
    background: #5a5a5a;
}
.ant-tag .anticon-close{
    position: absolute;
    right: 4px;
    top: 8px;
}
.ant-tag.click {
    background: #1f1f1f;
}
.anticon-save::after{
    content: '';
    display: block;
    position: absolute;
    right: 4px;
    top: 8px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #f0f2f5;
}
.ant-tag:hover.anticon-save::after{
    display: none;
}