.tab-none{
    min-height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 26px;
    color: #c5c5c5;
}
.left-panel{
    min-height: 100vh;
    position: relative;
    background: #353535;
}
.left-panel_ground{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.CodeMirror-scroll{
    height: 500px !important;
}
.loading-status{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: #3db38938;
    display: flex;
    justify-content: center;
    align-items: center;
}

